ul {
  padding: 0 1rem;
  list-style-type: disc; /* Bullet points for unordered lists */
}

ol {
  padding: 0 1rem;
  list-style-type: decimal; /* Numbers for ordered lists */
}

img.ProseMirror-selectednode {
  outline: 3px solid #68cef8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

code {
  background-color: rgba(#616161, 0.1);
  padding: 4;
  color: #616161;
}

pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
  overflow: auto;
  clear: both;
}
pre code {
  color: inherit;
  padding: 4;
  background: none;
  font-size: 0.8rem;
}

blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(#0d0d0d, 0.1);
}

hr {
  border: none;
  border-top: 2px solid rgba(#0d0d0d, 0.1);
  margin: 2rem 0;
}

button {
  border: 2px solid #007bff; /* 2px solid black border */
  padding: 5px 10px; /* Optional padding for aesthetics */
  margin: 1px; /* Optional margin to separate the buttons */
}

.table-of-content {
  padding: 20px;
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.25rem;
  z-index: 2;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  width: 20rem;
  max-height: 50vh;
  overflow: auto;
}

.toc--empty_state {
  color: #777;
  user-select: none;
}

.toc--list,
.toc--item--children {
  display: flex;
  flex-direction: column;
}

.toc--list {
  gap: 0.5rem;
}

.toc--list a {
  color: #000;
  text-decoration: none;
}

.toc--item {
  padding-left: calc(1rem * (var(--level) - 1));
}
